@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTStd-Book.eot');
	src: local('☺'), url('fonts/AvenirLTStd-Book.woff') format('woff'), url('fonts/AvenirLTStd-Book.ttf') format('truetype'), url('fonts/AvenirLTStd-Book.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('fonts/AvenirLTStd-Heavy.eot');
	src: local('☺'), url('fonts/AvenirLTStd-Heavy.woff') format('woff'), url('fonts/AvenirLTStd-Heavy.ttf') format('truetype'), url('fonts/AvenirLTStd-Heavy.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('fonts/avenirltstd-bookoblique.eot');
	src: local('☺'), url('fonts/avenirltstd-bookoblique.woff') format('woff'), url('fonts/avenirltstd-bookoblique.ttf') format('truetype'), url('fonts/avenirltstd-bookoblique.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir';
	src: url('fonts/avenirltstd-heavyoblique.eot');
	src: local('☺'), url('fonts/avenirltstd-heavyoblique.woff') format('woff'), url('fonts/avenirltstd-heavyoblique.ttf') format('truetype'), url('fonts/avenirltstd-heavyoblique.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}